header {
  height: 27vh;
  width: 100%;
  flex: 1;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

header h2 {
  margin: 0;
  padding: 0;

  margin-bottom: 1em;
}

header .slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;
}

header .slider>li {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  padding: 1em;
}

header .slider>li:hover {
  cursor: pointer;
  outline: 1px solid #000;
  border-radius: 2px;
}
header .slider>li:has(.active) .slider>li:hover {
  border-radius: 1em;
}


.plate {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5em;

}

.active {
  color: #FFF;

  background-color: var(--active-color);
  padding: 0.225em;
  border-radius: 1em;

  transition: background 300ms ease-in, padding 300ms ease-out;
}